.text-con {
  position: absolute;
}

.p-con {
  position: absolute;
  top: 0%;
  right: 5%;
  left: 15%;
  height: 100%;
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

#text-s {
  margin-top: 10px;
}

#text-e {
  margin-top: 13px;
}

p {
  color: #e1e1e1;
  padding: 20px;
  margin: 5px 0;
  line-height: 31px;
  font-size: 18px;
  font-family: Courier New, monospace;
  background-color: #1a1a1a;
}

/* new css animation */
#box {
  top: 0%;
  right: 5%;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  color: white;
  font-family: "Raleway";
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 8px;
  background: transparent;

  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #ff0066,
    #33ccff,
    #ff0066,
    #33ccff,
    #ff0066,
    #33ccff,
    #ff0066,
    #33ccff
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 15s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.gradient-border span {
  position: absolute;
  z-index: -1;
  top: 6%;
  right: 5%;
  width: 87%;
  height: 87%;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 0;
}

.gradient-border span:nth-child(1) {
  filter: blur(5px);
}
.gradient-border span:nth-child(2) {
  filter: blur(10px);
}
.gradient-border span:nth-child(3) {
  filter: blur(20px);
}
.gradient-border span:nth-child(4) {
  filter: blur(55px);
}
