.container-nav {
  display: grid;
  border-right: 1px solid #333;
  background-color: #1a1a1a;
  max-width: 70px;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0 20px 0 20px;
}

.home-a {
  margin-top: 20px;
}

#bars-icon {
  -ms-transform: rotate(90deg); /* Internet Explorer 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
