ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline;
  padding: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 70px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 820px) {
  li {
    margin-right: 27px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  li {
    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
