/* #main-body {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  background-color: burlywood;
  border: 2px solid #000;
} */
body {
  margin: 0;
  background-color: #333;
}
