/* .hero-box {
  background-color: rgb(198, 194, 194);
} */

.contact-btn {
  background-color: transparent;
  border-color: #672364;
  border: 5;
  border-radius: 10rem;
  padding: 5;
  margin: 10;
}

.contact-btn :hover {
  color: #672364;
}

.contact-icon {
  color: #000;
}
