/* .hero-box {
  background-color: rgb(198, 194, 194);
} */

.contact-btn {
  background-color: transparent;
  border-color: #672364;
  border: 5;
  border-radius: 10rem;
  padding: 5;
  margin: 10;
}

.contact-btn :hover {
  color: #672364;
}

.contact-icon {
  color: #000;
}

.moon-pic {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 10%;
  right: 10%;
}

.sky-pic {
  width: 100%;
}

.info-box {
  border-radius: 0.25rem;
  background-color: rgb(0, 0, 0);
  border: 0.1px solid;
  border-color: aliceblue;
  height: 180px;
  width: 350px;
  margin-left: 20px;
  top: 50%;
  position: absolute;
}

.text-block {
  color: aliceblue;
  line-height: 20px;
  margin: 6px;
}

.p-heading {
  color: brown;
}

.header {
  color: rgb(56, 125, 185);
}

.large-heading {
  font-size: 200px;
  color: aliceblue;
  top: -170px;
  left: 20px;
  position: absolute;
  opacity: 10%;
}
