.hero-con {
  margin: 0;
  padding: 0;
  display: grid;
}

/* new css animation */

.circle {
  top: 24%;
  left: 27%;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  width: 60vh;
  height: 60vh;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.circle:after {
  content: "";
  position: absolute;
  top: 35px;
  right: 35px;
  bottom: 35px;
  left: 35px;
  border-radius: 50%;
  background-color: #222121;
}

.circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
}

.circle span:nth-child(1) {
  filter: blur(5px);
}
.circle span:nth-child(2) {
  filter: blur(10px);
}
.circle span:nth-child(3) {
  filter: blur(20px);
}
.circle span:nth-child(4) {
  filter: blur(55px);
}

/* ^^^^^^^^^^^^^^^^^^ */
#hero-bg {
  width: 100%;
  max-width: 1125px;
  height: 100%;
  max-height: 1502px;
  padding: 0;
  margin: 0 auto;
}

#hero-head {
  padding: 0;
  margin: 0;
  max-width: 50px;
  background-color: blue;
}

#hero-links-con {
  height: 100%;
  width: 40px;
  position: absolute;
  right: 30px;
  font-family: Andale Mono, monospace;
}

/* #hero-links-rotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
} */

a {
  text-decoration: none;
  color: #e1e1e1;
}

#github-a {
  position: absolute;
  top: 16%;
  font-size: 17px;
  width: 20px;

  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#linkedin-a {
  position: absolute;
  top: 50%;
  font-size: 17px;
  width: 20px;

  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

#indeed-a {
  position: absolute;
  top: 84%;
  font-size: 17px;
  width: 20px;

  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

@media (-webkit-min-device-pixel-ratio: 0) {
  a {
    background-color: #e1e1e1;
    background-image: -webkit-linear-gradient(
      left,
      #33ccff 10%,
      #ff0066 50%,
      transparent 50%
    );
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: 0.1s 0.2s;
    -webkit-background-clip: text;
  }
  a:hover {
    background-position: 0 0;
    color: transparent;
    transition: 0.1s 0;
  }
}
